# Environment
.env
.env.local
.env.production

# Build
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# docs
documentation

.render.yaml


docker-compose.yml