services:
  postgres:
    image: postgres:15-alpine
    container_name: briworld_postgres
    environment:
      POSTGRES_USER: briworld
      POSTGRES_PASSWORD: secure_password_here
      POSTGRES_DB: briworld_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: briworld_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: briworld_app
    network_mode: "host"
    volumes:
      - .:/app
      - /app/tmp
    environment:
      - DB_HOST=ep-blue-recipe-a47x24aq-pooler.us-east-1.aws.neon.tech
      - DB_PORT=5432
      - DB_USER=neondb_owner
      - DB_PASSWORD=npg_6ZWzojXQwG0R
      - DB_NAME=neondb
      - DB_SSL_MODE=require
      - REDIS_ADDR=allowing-kid-35323.upstash.io:6379
      - REDIS_PASSWORD=AYn7AAIncDE3ZjhjZGIzMTNmY2Q0MzA4ODZjY2IxZDFmYTFjYmYyY3AxMzUzMjM
      - REDIS_DB=0
      - REDIS_TLS=true
      - PORT=8080
      - ENV=production
      - JWT_SECRET=d8f7c9e4a2b641c8b9f1e3a5c6d0f2a7
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USERNAME=flack74621@gmail.com
      - SMTP_PASSWORD=ejyowhaxyzbkltkj
      - SMTP_FROM=flack74621@gmail.com
    command: sh -c "sleep 5 && air -c .air.toml"

volumes:
  postgres_data:
  redis_data:
